@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

#login{
    background-image: url(../../../Php_Projekt/public/images/background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 60vh;
}

.events{
    background-image: url(../../../Php_Projekt/public/images/background_events.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 60vh;
}

#about{
    background-image: url(../../../Php_Projekt/public/images/background_about.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 60vh;
}

#register{
    background-image: url(../../../Php_Projekt/public/images/background_register.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 60vh;
}

.btn-color{
    background-color: #8ABDAA !important;
}

btn-color2{
    background-color: #ffb6b6 !important;
}

.text-color{
    color: #404040 !important;
}

.table-row-color{
    background-color: #ffb6b6;
}

#event-img{
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 50%;
    width: 30%;
}

#form{
    margin-left: 12%;
    margin-top: 1%;
}

.font{
    font-family: 'Comfortaa', cursive;
}

.font-title{
    font-family: 'Comfortaa', cursive;
    font-size: 270%;
    color: #404040;
}

#title{
    margin-left: 11.6%;
    margin-top: 10%;
}

#about-title{
    margin-left: 11.6%;
    margin-top: 10%;
}

nav .navbar-nav li a{
    color: white !important;
    transition: ease-in-out 0.5s;
}

nav .navbar-nav li a:hover{
    color: #404040 !important;
    transition: ease-in-out 0.5s;
    text-decoration: underline;
}

.link-color{
    color: #ffb6b6;
}

.logo{
    height: 50px;
    margin-left: 20%;
}

#about-img{
    margin-left: 27%;
    height: 100%;
    width: 70%;
}

#error-img{
    margin-left: 7%;
    height: 100%;
    width: 70%;
}

.error-message{
    margin-left: 15%;
}

#register-img{
    margin-left: 10%;
    height: 100%;
    width: 70%;
}

.justify{
    text-align: justify;
}

.container{
    margin-left: 11% !important;
}

.bg-dark{
    background-color: #404040;
}

#register-data{
    margin-top: 15%;
}

table{
    /*margin-top: 5% !important;*/
    margin: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #8ABDAA;
    border: 1px solid #404040;
    color: #FFFFFF;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

tr {
    border-bottom: 1px solid #DDDDDD;
    background-color: white;
}

tr:nth-child(even){
    background-color: #F2F2F2;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #8ABDAA;
}

.btn:hover{
    background-color: #404040 !important;
}

.red-color{
    color: #FF6584;
}

.list{
    display: inline;
    margin: 1%;
}

.small-nav{
    margin-top: 15%;
    text-align: center;
}

.small-nav-a{
    font-size: 150%;
    text-decoration: none;
}

.small-nav-a:hover{
    color: #ffb6b6 !important;
    transition: ease-in-out 0.5s;
    text-decoration: underline;
}

#edit-form{
    margin: auto;
    width: 50%;
}

#edit-title{
    margin: auto;
    width: 50%;
    margin-top: 12% !important;
}

#table-sessions{
    width: 84%;
}

.edit-date{
    margin-left: 16.2% !important;
}

.date-width{
    width: 140% !important;
}

.date-width-num{
    width: 50% !important;
}

.error-container{
    margin-top: 15%;
}

.add-btn{
    margin-left: 8.3% !important;
}

.add-btn-ses{
    margin-left: 15% !important;
}

.table-title{
    text-align: center;
}

.attendee-title{
    margin-top: 10%;
}

@media (max-width: 980px){
    #form{
        margin-right: 10%;
    }

    #title{
        margin-top: 30%;
    }

    #about-data{
        margin-right: 100%;
    }

    #about-title{
        margin-top: 30%;
    }
}